{%extends 'events/layout/base.html' %}
{%load static%}
{%block scm%}
{%endblock scm%}
{%block content%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">
<script src="{%static 'js/script.js'%}"></script>
<div class="blur-bg-overlay"></div>
<div class="form-popup">
    <span class="close-btn material-symbols-rounded">close</span>
    <div class="form-box login">
        <div class="form-details">
            <h2>Welcome Back</h2>
            <p>Please log in using your personal information to stay connected with us.</p>
        </div>
        <div class="form-content">
            <h2>LOGIN</h2>
            <form action="" method="post">
                {%csrf_token%}
                <div class="input-field">
                    <input type="text" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-field">
                    <input type="password" name="pwd" required>
                    <label>Password</label>
                </div>
                <a href="#" class="forgot-pass-link">Forgot password?</a>
                <button type="submit">Log In</button>
            </form>
            <div class="bottom-link">
                Don't have an account?
                <a href="#" id="signup-link">Signup</a>
            </div>
        </div>
    </div>
    <div class="form-box signup">
        <div class="form-details">
            <h2>Create Account</h2>
            <p>To become a part of our community, please sign up using your personal information.</p>
        </div>
        <div class="form-content">
            <h2>SIGNUP</h2>
            <form action="" method="post">
                {%csrf_token%}
                <div class="input-field">
                    {{html_form.username}}
                    <label>Enter your Username</label>
                </div>
                <div class="input-field">
                    {{html_form.email}}
                    <label>Enter your Email</label>
                </div>
                <div class="input-field">
                    {{html_form.password1}}
                    <label>Password</label>
                </div>
                <div class="input-field">
                    {{html_form.password2}}
                    <label>Conform password</label>
                </div>
                <div class="policy-text">
                    <input type="checkbox" id="policy">
                    <label for="policy">
                        I agree the
                        <a href="#" class="option">Terms & Conditions</a>
                    </label>
                </div>
                <button type="submit">Sign Up</button>
            </form>
            <div class="bottom-link">
                Already have an account? 
                <a href="#" id="login-link">Login</a>
            </div>
        </div>
    </div>
</div>
{%endblock content%}